albumentations
dvc
ensure==1.0.2
Flask
Flask-Cors
gdown
joblib
matplotlib
mlfow
notebook
numpy
opencv-python
pandas
Pillow
python-box==6.0.2
pyYAML
scipy
seaborn
tensorflow==2.10.1
tqdm
types-pyYAML

-e .